.Rproj.user
.Rhistory
.RData
.Ruserdata
lib/
docs

/.quarto/
inst/doc
/doc/
/Meta/

Rplots.pdf
*.local.json

*\.RData
*\.rds
*\.txt
*\.xlsx
**/*.quarto_ipynb
bench-out/
*/vignette-cache
.claude
scratch/
bench-out*/
